<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AuditEntities" connectionString="metadata=res://*/DataAccess.AuditModel.csdl|res://*/DataAccess.AuditModel.ssdl|res://*/DataAccess.AuditModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sql2008;initial catalog=Audit2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>